[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
eth_tools = {editable = true, path = "."}
hypothesis = "*"
cachetools = "*"

[dev-packages]
pylint = "*"
ipython = "*"
nose = "*"
rope = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
