[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
eth_tools = {editable = true, path = "."}

[dev-packages]
pylint = "*"
ipython = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
