[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"web3" = "*"
pandas = "*"
filelock = "*"

[dev-packages]
pylint = "*"
ipython = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
